section#one.wrapper.style2.spotlights
    section
        a.image(href='#')
            img.image(src='default/assets/img/react.jpg', alt='', data-position='center center')
        .content
            .inner
                h2 About
                p
                    | I'm a graduate student major in computer science in USC
                    br
                    | My goal is to become a full-stack engineer
                    br
                    | Currently I'm interested in front-end technologies such as React.JS, webpack，JavaScript etc.
    section
        a.image(href='#')
            img(src='default/assets/img/darth.jpg', alt='', data-position='top center')
        .content
            .inner
                h2 Facts
                p
                    | I worship Sith Lord Darth Vader
                    br
                    | I love rock and play electric guitar
                    br
                    | I drink coffee or tea every day
                    br
                    | I want to be a jedi master
                    br
