header#header
    a.title(href='index.html') Lianyu Yao
    nav
        ul
            li
                a(href='http://localhost:3000') Home
            li
                a.active(href='http://localhost:3000/blog') Blog