doctype html
html
    head
        title Lianyu Yao
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/default/stylesheets/main.css')
    body
        include blog_header
        #wrapper
            include blog_content
        include footer
        script(src='default/js/jquery.min.js')
        script(src='default/js/jquery.scrollex.min.js')
        script(src='default/js/jquery.scrolly.min.js')
        script(src='default/js/skel.min.js')
        script(src='default/js/util.js')
        script(src='default/js/main.js')