section#intro.wrapper.style1.fullscreen.fade-up
    .inner
        h1 Weilun Chen
        p
            | A Full-stack Engineer
            br
            | Less design, more human.
        ul.actions
            li
                a.button.scrolly(href='#one') Learn more