section#sidebar
    .inner
        nav
            ul
                li
                    a(href='#intro') Welcome
                li
                    a(href='#one') About
                li
                    a(href='#two') My Blog